<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=yes">
  <meta charset=utf-8>
  <title>Dave Cole for Congress, New Jersey's 2nd District</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <link href="/css/fonts.css" rel="stylesheet">
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body class="">
  {{content}}
</body>
</html>
