---
layout: default
---
<div id="feature">
  <div class="grid clearfix relative pad1x mobile-cols">
    <a href="/" id="logo" class="col12"></a>
    <div id="header-social" class="hide-mobile pad1x">
      {% include social.html %}
    </div>
    {% if page.quote %}
    <div id="quote" class="col6">
        <p>{{page.quote}}</p>
        <span class="byline">{{page.byline}}</span>
    </div>
    {% endif %}
  </div>
</div>
<div id="container"><div class="bg">
  <div id="menu"><div class="grid"><div class="col8 pad1x mobile-cols">
    <a class="item donate show-tablet hide-phone" href="/contribute">Contribute</a>
    {% for post in site.categories.landing reversed %}<a class="item {%if forloop.index > 2%}hide-mobile{% endif ®%}" href="{{post.url}}">{{post.title}}</a>{% endfor %}<a class="item" href="/issues/">Issues</a>
  </div></div></div>
  <div class="grid clearfix">
    <div class="col7 content prose dark pad1x">
      {{content}}
    </div>
    <div id="sidebar" class="col4 margin1">
      <a href="/contribute" id="contribute-badge">Contribute to Dave's Campaign</a>

      <div class="sign-up"><div>
        <h2>Get campaign updates</h2>
        {% include get-updates.html %}
      </div></div>
    </div>
  </div>
</div></div>
{% include footer.html %}
<div id="message">
  <div class="thanks">
    Thanks for your generous contribution!
  </div>
</div>
{% include splash.html %}
