---
layout: default
---
<style>{{page.css}}</style>
<div id="header" class="grid">
  <div class="col7"><a href="/" id="logo" class=""></a></div>
  <div class="col5 sign-up-container"><div class="sign-up">
    <h2>Get campaign updates</h2>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://coleforcongress.us3.list-manage1.com/subscribe/post?u=28667178e256a9caccad2abac&amp;id=3ff6fb08a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input type="text" value="" name="EMAIL" class="required email" placeholder="Your email address" id="mce-EMAIL"><!--
      --><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe">
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_28667178e256a9caccad2abac_3ff6fb08a7" value=""></div>
    </form>
    </div>
    <script type="text/javascript" src="js/lib/mailchimp.js"></script>
    <!--End mc_embed_signup-->
  </div></div>

</div>
<div id="container"><div class="bg">
  <div id="menu"><div class="grid"><div class="col12">
    {% for post in site.categories.landing reversed %}<a class="item {%if page.id == post.id %}active{% endif %}" href="{{post.url}}">{{post.title}}</a>{% endfor %}<a class="item donate" href="https://www.coleforcongress.com/contribute">Contribute</a>
  </div></div></div>
  <div class="grid clearfix">
    <div class="{% if page.sidebar %}col7 {% endif %}content prose">
      {{content}}
    </div>
    {% if page.sidebar %}
    <div class="margin1 col4 content prose sidebar">
      {{page.sidebar}}
    </div>
    {% endif %}
  </div>
</div></div>
<div id="footer">
  <div id="compliance">Paid for by the Cole Congressional Exploratory Committee</div>
  <div id="copyright">© 2013 Cole Congressional Exploratory Committee</div>
</div>
