---
layout: default
---
<style>{{page.css}}</style>
<div id="header" class="grid relative pad1x">
  <div class="col7"><a href="/" id="logo" class=""></a></div>
  <div id="header-social" class="hide-mobile pad1x">
    {% include social.html %}
  </div>
  <div class="col5 sign-up-container hide-tablet"><div class="sign-up">
    <h2>Get campaign updates</h2>
    {% include get-updates.html %}
  </div></div>

</div>
<div id="container"><div class="bg">
  <div id="menu"><div class="grid"><div class="col12">
    {% for post in site.categories.landing reversed %}<a class="item {%if page.id == post.id %}active{% endif %} {%if forloop.index != 1%}hide-mobile{% endif %}" href="{{post.url}}">{{post.title}}</a>{% endfor %}<a class="item" href="/issues/">Issues</a><a class="item donate" href="/contribute">Contribute</a>
  </div></div></div>
  <div class="grid clearfix">
    <div class="{% if page.sidebar %}col7 {% endif %}content prose pad1x">
      {{content}}
    </div>
    {% if page.sidebar %}
    <div class="margin1 col4 content prose sidebar pad1x">
      {{page.sidebar}}
    </div>
    {% endif %}
  </div>
</div></div>
{% include footer.html %}
